.loading { width:50px; margin:140px auto 0; }

.meta { padding:7px 5px; overflow:scroll; height:160px; }
.profile_picture img { width:48px; height:48px; }
.caption { margin-top:20px; clear:both;}
.caption_text { margin-left:5spx; font-size:14px; }
.username { font-weight:bold; }
.profile_username { padding-top:15px; padding-left:58px; }

/* slider container */
.iosSlider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	
	width: 320px;
	height: 480px;
}

/* slider */
.iosSlider .slider {
	/* required */
	width: 100%;
	height: 100%;
}

/* slide */
.iosSlider .slider .slide {
	/* required */
	float: left;

	width: 320px;
	height: 480px;
}

@media (min-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	
}

@media (min-width: 479px) and (max-width:767px) {
	.iosSlider {
		width: 568px;
		height: 728px;
	}

	.iosSlider .slider .slide {
		width: 568px;
		height: 728px;	
	}
}