<div class="row-fluid">
	<div class="span12">

		<div class='iosSlider'>
			<div class='slider'>
				<div class="loading">
					<img src="/images/loading.gif"/>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">

function resetPhotos()
{
	$(".collapse").collapse({
	  toggle: false
	});
	$(".collapse").collapse('hide');

	$('.iosSlider').iosSlider('destroy');
	$(".slider").empty();
	$(".slider").append(
		$("<div>").addClass("loading").append(
			$("<img>").attr("src", "/images/loading.gif")
		)
	);
}

function initializeSlider()
{
	$('.iosSlider').iosSlider({
		snapToChildren: true,
		desktopClickDrag: true,
		infiniteSlider: true,
		snapSlideCenter: true,
		responsiveSlideContainer: true,
		responsiveSlides: true
	});
}

function subscribeToLocation(latitude, longitude, title)
{
	resetPhotos();

	$.post("/subscribe", { 
			longitude: longitude,
			latitude: latitude
		},
		function(data) {
			$(".slider").html(data);

			initializeSlider();

			

			$(".brand").html(title)

			// TODO: Subscribe to pusher channel
			//var channel = pusher.subscribe('<%= @session_id %>');
			//channel.bind('new_photo', function(data) {
			//  alert('Received my-event with message: ' + data.message);
			//});
		}
	)
	.fail(function() { alert("Unable to get photos from Instagram"); } );
}

function processLocation(location)
{
	$(".local").attr("data-latitude", location.coords.latitude).attr("data-longitude", location.coords.longitude);
	subscribeToLocation(location.coords.latitude, location.coords.longitude, 'Local');
}
	
function handleError(error)
{
	alert("Unable to get location: " + error.message);
}


$(document).ready(function() {
	navigator.geolocation.getCurrentPosition(processLocation, handleError);

	window.addEventListener("load",function() {
		// Set a timeout...
		setTimeout(function(){
			// Hide the address bar!
			window.scrollTo(0, 1);
		}, 0);
	});

	/*setTimeout(function(){
		demo_html = '<div class="slide"><img src="http://distilleryimage11.s3.amazonaws.com/2f1fab969c9e11e2a3e422000a1fbe39_7.jpg"></div>';
		$('.iosSlider').iosSlider('addSlide', demo_html, 1);
		$('.iosSlider').iosSlider('goToSlide', 1);
	}, 5000);*/

	$(".nav li a").on("click", function(event){
		var latitude = $(this).attr('data-latitude');
		var longitude = $(this).attr('data-longitude');
		var title = $(this).html();

  	subscribeToLocation(latitude, longitude, title); 
  	$('.nav li').removeClass('active'); 
  	$(this).parent().addClass('active'); 
  	return false;
	});
});

</script>
