<h1>Bootstrap starter template</h1>
<p class="lead">Session ID: <%= @session_id %>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>